# Dependencies
node_modules/
.pnp
.pnp.js

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/
build/
dist/

# System
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# OpenAI/Gemini keys (Just in case)
key.pem
secrets.json
